body {
	background-color: #ccebff;}



h1{text-align: center;color: #d65cad; 
outline-style: groove; outline-color: white; 
}


p{
	color: #b8b8ff; font-family: sans-serif; font-style: normal; background-color: #001a4d;
} 


h2{
	text-align: center;color: #66b3ff;
}




img{width: 10 ;
border-radius: 50px; border: solid coral;
height: 100;
margin-left: auto;
margin-right: auto; display: block;
}